body{
  padding: 5px 20px 5px 20px;
}
p{
  font-size: 16px;
}
.content-heading{
  margin: 0;
}
.link{
  text-decoration: none;
  color: dodgerblue;
}
.content-heading h1{
  font-size: 20px;
}
.content{
  display: flex;
  padding: 0 30px 0 30px;
  line-height: 16px;
  justify-content: space-between;
}
.edu-left{
  flex: 1;
  padding-left: 0;
}
.edu-right{
  flex: 1;
  padding-right: 25%;
}
.tech{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
.lst-item{
  font-size: 16px;
}
.opt-name{
  font-weight: bold;
}
.cat-content{
  margin-top: 0;
  padding: 0 30px 0 30px;
}

@media(max-width: 720px){
    .content{
      padding: 0;
    }
}